{% extends 'base.html' %}

{% block main  %}

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

    <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-content">

          <!-- ***** Banner Start ***** -->
          <div class="main-banner">
            <div class="row">
              <div class="col-lg-7">
                <div class="header-text">
                  <h6>Welcome To SoundzGd</h6>
                  <h4><em>Browse</em> Our Popular Bands Here</h4>
                  <div class="main-button">
                    <a href="browse.html">Browse Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ***** Banner End ***** -->

          <!-- ***** Most Popular Start ***** -->
          <div class="most-popular">
            <div class="row">
              <div class="col-lg-12">
                <div class="heading-section">
                  <h4><em>Most Popular Artists</em> Right Now</h4>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-sm-6">
                    <div class="item">
                      <img src="../static/assets/images/johnmayer_195x150.png" alt="">
                      <h4>John Mayer<br><span></span></h4>
                      <ul>
                        <li><i class="fa fa-star"></i> 4.8</li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                    <div class="item">
                      <img src="../static/assets/images/bach_1_195x150.jpg" alt="">
                      <h4>Bach<br><span></span></h4>
                      <ul>
                        <li><i class="fa fa-star"></i> 5.5</li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                    <div class="item">
                      <img src="../static/assets/images/billie_195x150.webp" alt="">
                      <h4>Billie Eilish<br><span></span></h4>
                      <ul>
                        <li><i class="fa fa-star"></i> 1.8</li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                    <div class="item">
                      <img src="../static/assets/images/weezer_195x150.jpg" alt="">
                      <h4>Weezer<br><span></span></h4>
                      <ul>
                        <li><i class="fa fa-star"></i> 4.2</li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="item">
                      <div class="row">
                        <div class="col-lg-6 col-sm-6">
                          <div class="item inner-item">
                            <img src="../static/assets/images/rufus_195x150.webp" alt="">
                            <h4>Rufus<br><span></span></h4>
                            <ul>
                              <li><i class="fa fa-star"></i> 4.8</li>
                            </ul>
                          </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                          <div class="item">
                            <img src="../static/assets/images/rodrick_195x150.jpg" alt="">
                            <h4>Rodrick<br><span></span></h4>
                            <ul>
                              <li><i class="fa fa-star"></i> 4.1</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                    <div class="item">
                      <img src="../static/assets/images/stromae_195x150.jpg" alt="">
                      <h4>Stromae<br><span></span></h4>
                      <ul>
                        <li><i class="fa fa-star"></i> 4.2</li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                    <div class="item">
                      <img src="../static/assets/images/Hardy_50_1_195x150.jpg" alt="">
                      <h4>Hardy<br><span></span></h4>
                      <ul>
                        <li><i class="fa fa-star"></i> 3.7</li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="main-button">
                      <a href="browse.html">Discover Popular Artists</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ***** Most Popular End ***** -->

        </div>
      </div>
    </div>
  </div>
  
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p>Copyright © 2077 SoundzGd</p>
        </div>
      </div>
    </div>
  </footer>


  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="{{url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js"')}}"></script>
  <script src="{{url_for('static', filename='assets/js/isotope.min.js')}}"></script>
  <script src="{{url_for('static', filename='assets/js/tabs.js')}}"></script>
  <script src="{{url_for('static', filename='assets/js/popup.js')}}"></script>
  <script src="{{url_for('static', filename='assets/js/custom.js')}}"></script>

{% endblock %}