{% extends 'base.html' %}
{% block main  %}

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-content">

          <!-- ***** Login Start ***** -->
          <div class = "content-section">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <h1 class="border-bottom mb-4">Join Today</h1>
                    <div class="form-group">
                        <h2>{{form.fullname.label(class="form-control-label") }}</h2>
                        {{form.fullname(class="form-control form-control-lg") }}
                    </div>
                    <div class="form-group">
                        <h2>{{form.username.label(class="form-control-label") }}</h2>

                        {% if form.username.errors %}
                            {{form.username(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.username.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{form.username(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <h2>{{form.email.label(class="form-control-label") }}</h2>

                        {% if form.email.errors %}
                            {{form.email(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{form.email(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>

                    <div class="form-group">
                      <h2>{{form.genre.label(class="form-control-label") }}</h2>
                      {{form.genre(class="form-control form-control-lg") }}
                    </div>

                    <div class="form-group">
                      <h2>{{form.instrument.label(class="form-control-label") }}</h2>
                      {{form.instrument(class="form-control form-control-lg") }}
                    </div>


                    <div class="form-group">
                        <h2>{{form.password.label(class="form-control-label") }}</h2>
                        {% if form.password.errors %}
                            {{form.password(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{form.password(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <h2>{{form.confirm_password.label(class="form-control-label") }}</h2>
                        {% if form.confirm_password.errors %}
                            {{form.confirm_password(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.confirm_password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{form.password(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info")}}
                </div>
            </form>
            <div class="border-top pt-3">
                <small class="text-muted">
                    Already Have An Account? <a class="ml-2" href="{{ url_for('login') }}">Sign In</a>
                </small>
        
            </div>
        </div>
          <!-- ***** Login End ***** -->

        </div>
      </div>
    </div>
  </div>
  
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p>Copyright © 2077 SoundzGd.</p>
        </div>
      </div>
    </div>
  </footer>


  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="{{url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js"')}}"></script>
  <script src="{{url_for('static', filename='assets/js/isotope.min.js')}}"></script>
  <script src="{{url_for('static', filename='assets/js/tabs.js')}}"></script>
  <script src="{{url_for('static', filename='assets/js/popup.js')}}"></script>
  <script src="{{url_for('static', filename='assets/js/custom.js')}}"></script>
  {% endblock %}
